body {
    background: linear-gradient(#2e5170,#022340); 
    
}

.n-horizontal, .n-vertical{
    background-color: #2C2827;
    border: #F2E205 solid 1px;
}
.n-horizontal{
    width: 100vw;
    height: 1rem;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
    
}
.n-vertical{
    height: 96vh;
    width: 2.5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.n-horizontal__logo img{
    width: 4rem;
}
.n-vertical__social-link img{
    width: 40px;
    height: 40px;
}

/* Destaque */

main{
    display: flex;
    gap: 40px;

}

div{
    display: flex;
    flex-direction: column;
    gap: 8px;


}
.emphasis{
    
    margin-top: 2.5rem;
    background-color: #2C2827;
    width: 90vw;
    height: 70vh;
    border-radius: 3rem;
}
.player{
    align-self: center;
    background-color: #F2E205;
    width: 60vw;
    height: 20vh;
    border-radius: 5rem;
}
    
}